body {
    background: url("../assets/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 12rem;
    display: grid;
    place-items: center;
}

nav {
    height: 8rem;
    width: 85%;
    background: #0E1120;
    border-radius: 15px;
    display: grid;
    align-items: center;
    transition: 1s ease;
    position: fixed;
    top: 2.5rem;
}

nav .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
}

nav .navbar-container-brand img {
    width: 5rem;
}

nav .navbar-container-links ul {
    display: flex;
    gap: 4rem;
}

nav .navbar-container-links li a {
    font-size: 1.2rem;
    transition: 0.3s ease;
}

nav .navbar-container-links li a:hover {
    color: #2CB685;
    font-weight: 700;
}

nav .navbar-container-links li a.active {
    font-weight: 700;
    color: #2CB685;
}

nav .navbar-container-cta button {
    background: #2CB685;
    color: white;
    padding-inline: 2.5rem;
    border-radius: 100px;
    transition: 0.3s ease;
}

nav .navbar-container-cta button:hover {
    cursor: pointer;
    background: transparent;
    outline: 2px solid #2CB685;
}

/* Navbar Sticky */
nav.sticky {
    border-radius: 0;
    width: 100%;
    height: 8rem;
    margin-top: -2.5rem;
}