@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

#home {
	display: grid;
	gap: 6rem;
}

/* hero section  */
#hero {
	display: grid;
	place-items: center;
}

#hero .hero-container {
	width: 100%;
	display: grid;
	place-items: center;
}

#hero .hero-container img#hero-illustration-desktop {
	width: 80%;
}

#hero .hero-container img#hero-illustration-mobile {
	width: 100%;
	display: none;
}

@media screen and (max-width: 600px) {
	#hero .hero-container img#hero-illustration-mobile {
		display: block;
	}

	#hero .hero-container img#hero-illustration-desktop {
		display: none;
	}
}

/* prizes section  */

#prizes {
	margin-inline: 15%;
}

#prizes .prizes-container {
	text-align: center;
	display: grid;
	gap: 2rem;
}

#prizes .prizes-container .prizes-container-title h1 {
	font-size: 4rem;
	font-family: "Aldrich", sans-serif;
	text-transform: uppercase;
}

#prizes .prizes-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

#prizes .prizes-card-container .card {
	display: grid;
	place-items: center;
	background: #423d9e;
	border: 2px solid #b55cb5;
	box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.2);
	color: white;
	border-radius: 15px;
	padding: 2rem;
	gap: 2rem;
	position: relative;
}

#prizes .prizes-card-container .prizes-card-container-winner {
	grid-area: 1 / 1 / 3 / 2;
}

#prizes
	.prizes-card-container
	.prizes-card-container-winner
	.card-prize-amount
	h1 {
	font-size: 4rem;
}

#prizes
	.prizes-card-container
	.prizes-card-container-runnerup-1
	.card-prize-amount
	h1 {
	font-size: 3.5rem;
}

#prizes
	.prizes-card-container
	.prizes-card-container-runnerup-1
	.card-prize-amount
	h1 {
	font-size: 2.5rem;
}

#prizes .prizes-card-container .card .card-title {
	font-size: 1.5rem;
	font-family: "Aldrich", sans-serif;
	text-transform: uppercase;
	text-align: left;
	top: 2rem;
	left: 2rem;
	position: absolute;
}

#prizes .prizes-card-container .card .card-prize-amount {
	font-size: 1.5rem;
	font-family: "Orbitron", sans-serif;
	padding-block: 5rem;
}

@media screen and (max-width: 1080px) {
	#prizes .prizes-card-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 600px) {
	#prizes {
		margin-inline: 5%;
	}
}

/* video section  */
#promo-video {
	margin-inline: 10%;
	height: 40rem;
}

#promo-video iframe {
	border: none;
	border-radius: 15px;
	box-shadow: 1px 1px 25px rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 600px) {
	#promo-video {
		margin-inline: 5%;
		height: 20rem;
	}
}

/* sponsors section  */
#sponsors {
	margin-inline: 10%;
}

#sponsors .sponsors-container {
	border: 2px solid #2cb685;
	padding: 2.5rem;
	border-radius: 15px;
	height: calc(100vh - 15rem);
	overflow-y: auto;
	display: grid;
	gap: 4rem;
}

.sponsors-container .sponsor-title h1 {
	font-size: 4rem;
	font-family: "Orbitron", sans-serif;
	text-align: center;
}

.sponsors-container-companies-wrapper {
	margin-top: 2rem;
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	width: 100%;
	gap: 4rem;
}

.sponsors-container-companies-wrapper div {
	width: 100%;
	display: grid;
	place-items: center;
	gap: 1rem;
	text-align: center;
}

.sponsors-container-companies-wrapper div h1#platinum-sponsor {
	color: #e5e4e2;
	text-transform: uppercase;
	font-size: 2rem;
}

.sponsors-container-companies-wrapper div h1#gold-sponsor {
	color: gold;
	text-transform: uppercase;
	font-size: 2rem;
}

.sponsors-container-companies-wrapper div h1.silver-sponsor {
	color: silver;
	text-transform: uppercase;
	font-size: 1.8rem;
}

.sponsors-container-companies-wrapper div img {
	width: 50%;
}

.sponsors-container-cafeteria-wrapper {
	margin-top: 2rem;
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	gap: 2rem;
}

.sponsors-container-cafeteria-wrapper div {
	margin-top: 1rem;
	display: grid;
	place-items: center;
	gap: 1rem;
	text-align: center;
}

.sponsors-container-cafeteria-wrapper div img {
	width: 80%;
}

@media screen and (max-width: 1080px) {
	.sponsors-container-companies-wrapper {
		grid-template-columns: 1fr;
	}

	.sponsors-container-cafeteria-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	#sponsors {
		margin-inline: 5%;
	}

	.sponsors-container .sponsor-title h1 {
		font-size: 3rem;
	}

	.sponsors-container-companies-wrapper div h1 {
		font: 0.8rem;
	}
}

.modal {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border-radius: 15px;
	background: #423d9e;
	border: none;
	outline: none;
	padding: 2.5rem;
	color: white;
	width: 22rem;
}

@media screen and (max-width: 600px) {
	.modal {
		width: 70%;
	}
}

.modal-container {
	display: grid;
	gap: 2rem;
	position: relative;
}

.modal-container-close {
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
}

.modal-container-close img {
	filter: invert(1);
	width: 2rem;
}

.modal-container-title {
	text-align: center;
}

.modal-container-image {
	height: 15rem;
	width: 100%;
	background: whitesmoke;
}

.modal-container-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.modal-container-address {
	display: flex;
	gap: 1rem;
}

.modal-container-address img {
	width: 1rem;
}

.modal-container-contact {
	display: flex;
	gap: 1rem;
}

.modal-container-contact img {
	width: 1rem;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

#team {
	overflow: hidden;
	width: 100%;
	margin-top: 10%;
	height: 80vh;
}

.team-title h1 {
	font-size: 5rem;
	font-weight: 700;
	text-transform: capitalize;
	font-family: "Anybody", sans-serif;
	font-optical-sizing: auto;
	text-align: center;
	color: #bd73ad;
}

.team-title span {
	font-size: 7.6rem;
	font-weight: 700;
}

.team-title span:hover {
	color: #e5e4e2;
	transition: 0.4s ease-in-out;
	transform: scale(1.2);
	cursor: pointer;
}

@media (min-width: 37.5em) {
	body {
		padding-left: 4%;
		padding-right: 4%;
	}
}

.swiper-container {
	margin-top: 5em;
}

.swiper-wrapper {
	margin-bottom: 3em;

	width: 73.8%;
}

@media (min-width: 37.5em) {
	.swiper-wrapper {
		width: 92%;
	}
}

@media (min-width: 43.75em) {
	.swiper-wrapper {
		width: 95%;
	}
}

.swiper-slide.swiper-slide {
	width: 100%;
}

@media (min-width: 37.5em) {
	.swiper-slide.swiper-slide {
		width: 50%;

		transform: translateX(-50%);
	}
}

@media (min-width: 43.75em) {
	.swiper-slide.swiper-slide {
		width: 33.33333333333%;
		transform: translateX(-100%);
	}
}

@media (min-width: 53em) {
	.swiper-slide.swiper-slide {
		width: 25%;
		transform: translateX(-150%);
	}
}

.swiper-pagination {
	display: block;
}

@media (min-width: 37.5em) {
	.swiper-pagination {
		display: none;
	}
}

.swiper-button-prev {
	display: none;
	left: 0;
	top: 0;
	z-index: 0;
	margin-top: 0;
	height: calc(100% - 3em);
	color: #b55cb5 !important;
	opacity: 0;
}

@media (min-width: 37.5em) {
	.swiper-button-prev {
		display: block;
	}
}

.swiper-button-next {
	display: none;
	right: 0;
	top: 0;
	margin-top: 0;
	height: calc(100% - 3em);
	color: #b55cb5 !important;
	opacity: 0;
}

@media (min-width: 37.5em) {
	.swiper-button-next {
		display: block;
	}
}
.product {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #fff;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 0 25px 0 25px;
	flex-direction: column;
	clip-path: polygon(
		0 0,
		90% 0%,
		100% 9%,
		100% 80%,
		100% 100%,
		10% 100%,
		0% 90%,
		0% 80%
	);
}

.photograph {
	display: block;
	width: 70%;

	object-fit: cover;
	margin-top: 9%;
}

.product__name.product__name {
	font-size: calc(2em + 5vw);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10%;
	color: #000;
}

@media (min-width: 37.5em) {
	.product__name.product__name {
		font-size: 1.2em;
	}
}

.product__description {
	font-size: calc(0.3em + 5vw);
	font-weight: 300;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 8%;
	color: #444444;
}

@media (min-width: 37.5em) {
	.product__description {
		font-size: 0.92em;
	}
}

.left-arrow {
	top: 370% !important;
	left: 23% !important;
}

.right-arrow {
	top: 370% !important;
	right: 23% !important;
}

.swiper-slider {
	padding: 20%;
	background-color: #fff;
}

@media (max-width: 1162px) {
	.team-title h1 {
		font-size: 2.4rem;
	}
	.team-title span {
		font-size: 3.8rem;
	}
}

@media (max-width: 526px) {
	.swiper-pagination {
		position: relative !important;
		text-align: center;
	}
	.team-title h1 {
		font-size: 1.5rem;
	}
	.team-title span {
		font-size: 2.4rem;
	}

	.product__name.product__name {
		font-size: 2em;
	}

	.product__description {
		font-size: 1.4em;
	}
}
